body {
  font-family: "my_font";
  background-color: #222831;
  color: #00ADB5;
  text-align: center;
}

@font-face {
  font-family: "my_font";
  src: url("../font/IRANSans.ttf");
  color: #9A0680;
}

.img1{

  border-radius: 50%;
margin-top: 300px;


}
.img2{
  border-radius: 50%;
margin-top: 200px;
}


.p1 {
  width: 100px;
  margin-right: 20px;
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  color: #00ADB5;
}
.d1{

position: static;
margin-top: 180px;
}
.d3{


  margin-top: 180px;

}
.h1{
color: #EEEEEE;

  font-size: 70px;
}
.d4{


  margin-top: 50px;
}